<footer class="page-footer">
<div>
    <p class="center-align">© 2017 Steven Gallo</p>
</div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
